<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <p>Register:</p>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"></input><br>
            <label for="em">E-mail:</label><br>
            <input type="text" id="em" name="em"></input><br>
            <label for="pass">Password:</label><br>
            <input type="text" id="pass" name="pass"></input><br><br>
            <input type="submit" value="Submit"></input>
        </form>
    </body>
</html>